
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/fp1.jpg" class="d-block w-100" alt="..." height="650px" >
      <div class="carousel-caption d-none d-md-block">
        <h5 >Cooking Is All About People</h5>
        <p>Food is may be the only universal thing <br> that really has the power to bring everyone together.
         <br> No matter what culture, everywhere around the world, people get together to eat.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/fp2.jpg" class="d-block w-100" alt="..." height="650px" >
      <div class="carousel-caption d-none d-md-block">
        <h5>Cooking Is All About People</h5>
        <p>Food is may be the only universal thing <br> that really has the power to bring everyone together.
          <br> No matter what culture, everywhere around the world, people get together to eat.
         </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/fp3.jpg" class="d-block w-100" alt="..." height="650px" >
      <div class="carousel-caption d-none d-md-block">
        <h5>Cooking Is All About People</h5>
        <p>Food is may be the only universal thing <br> that really has the power to bring everyone together.
          <br> No matter what culture, everywhere around the world, people get together to eat.
         </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- <div class="mt-5">
<h1 style="color: orangered;text-align: center;">About Menu</h1>
<div class="container">
  <div class="card">
      <img src="assets/food-16.jpg" class="img-fluid"alt="Food Image 1">
      <h2 style="text-align: center;color: orangered;">Sweet Delight</h2>
      <p style="text-align: justify;">Sweet Delight makes colorful and unique-looking desserts (such as a chocolate-mango-chilli cake!), and uses that to great effect in its design.</p>
      <a routerLink="/menu"> <button class="btn btn-warning text-white">Read More...</button></a>
  </div>
  <div class="card">
      <img src="assets/food-19.jpg" class="img-fluid" alt="Food Image 2">
      <h2 style="text-align: center;color: orangered;">Seafood Dishes</h2>
      <p style="text-align: justify;">Seafood includes all commercially captured or farmed freshwater and saltwater fish, molluscan shellfish, and crustaceans.</p>
      <a routerLink="/menu"> <button class="btn btn-warning text-white">Read More...</button></a>
  </div>
  <div class="card">
    <img src="assets/food-20.jpg" class="img-fluid"alt="Food Image 2">
    <h2 style="text-align: center;color: orangered;">Yummy Fish Dishes</h2>
    <p style="text-align: justify;">Here are the best easy fish recipes for your table! Make a healthy dinner everyone will love using salmon, tilapia, tuna and more.</p>
    <a routerLink="/menu"> <button class="btn btn-warning text-white">Read More...</button></a>
</div>
<div class="card">
  <img src="assets/food-18.jpg" class="img-fluid"alt="Food Image 2">
  <h2 style="text-align: center;color: orangered;">Spicey Chicken</h2>
  <p style="text-align: justify;">Indian Dishes Like Chicken Biryani,Chicken Kormaa,Butter Chicken,Vindaloo need no introduction as all of these are world popular.</p>
  <a routerLink="/menu"> <button class="btn btn-warning text-white">Read More...</button></a>
</div>
<div class="card">
  <img src="assets/food-21.jpg" class="img-fluid"alt="Food Image 2">
  <h2 style="text-align: center;color: orangered;">Vegetables Dishes</h2>
  <p style="text-align: justify;">A diet rich in vegetables and fruits can lower blood pressure, reduce the risk of heart disease and stroke, prevent some types of cancer, lower risk of eye and digestive problems, and have a positive effect upon blood sugar, which can help keep appetite in check.</p>
  <a routerLink="/menu"> <button class="btn btn-warning text-white">Read More...</button></a>
</div>
<div class="card">
  <img src="assets/food-22.jpg" class="img-fluid"alt="Food Image 2">
  <h2 style="text-align: center;color: orangered;">Soup</h2>
  <p style="text-align: justify;">soup, liquid food prepared by cooking meat, poultry, fish, legumes, or vegetables with seasonings in water, stock, milk, or some other liquid medium.</p>
  <a routerLink="/menu"> <button class="btn btn-warning text-white">Read More...</button></a>
</div>
</div>
</div> -->

<!-- <div class="mt-5">
  <h1 style="color: orangered;text-align: center;">About Blog</h1>
<div class="container">
  <div class="blog-card">
    <div class="blog-content">
      <h2 class="blog-title text-center">Blog Post</h2>
      <p class="blog-text" style="font-size: 20px;text-align: justify;">How did we ever manage to cook before the arrival of the internet? I suppose we had to rely on cookbooks, cooking tv shows, and knowledge handed down from our grandmothers. Of course, the more daring would experiment in the kitchen, remembering the successes, and mercifully forgetting any culinary disasters.
        <br><br>
        Nowadays we have a multitude of food blogs offering mouth-watering recipes, suggestions, and vivid photography, sending us straight to the kitchen … or the supermarket. There are hundreds of food blogs to tempt your taste buds. </p>
    </div>
    <div class="blog-images">
      <img src="assets/blog.jpg" alt="Blog Image">
      <a routerLink="/blog" class="read-more-btn">Read More</a>
    </div>
  </div>
</div>
</div> -->


<!-- <section class="container pt-5 text-center">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 rat">
        <div class="card-body text-center">
          <h3 class="mb-0" style="font-size: 2em">4.9</h3>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <p class="mb-0">100+ reviews</p>
          <img
            src="assets/img/cardrate/PngItem_4750896.png"
            class="img-fluid"
            alt="Logo"
            height="50%"
            width="50%"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 rat">
        <div class="card-body text-center">
          <h3 class="mb-0" style="font-size: 2em">4.8</h3>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <p class="mb-0">1000+ reviews</p>
          <img
            src="assets/img/cardrate/PngItem_1163975.png"
            class="img-fluid"
            alt="Logo"
            height="30%"
            width="30%"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 rat">
        <div class="card-body text-center">
          <h3 class="mb-0" style="font-size: 2em">50+</h3>
          <p class="mb-0 font-weight-bold">Questions asked</p>
          <p class="mb-0">5000 answered</p>
          <img
            src="assets/img/cardrate/q1.png"
            class="img-fluid"
            alt="Logo"
            height="25%"
            width="25%"
          />
        </div>
      </div>
    </div>
  </div>
</section> -->