<!-- <p>signin works!</p> -->


<!-- Button trigger modal -->

  

 <!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color:orange; color: azure;" class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Log Into Your Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="dataSubmit()">
          <!-- <label for="exampleInputEmail1" style="color: black;">Enter Name <span style="color: red;">*</span></label>
          <input type="text" class="form-control" formControlName="name" placeholder="Enter name">  -->
        
        <!-- <label for="exampleInputEmail1"style="color: black;">Contact Number <span style="color: red;">*</span></label>
        <input type="digit" class="form-control" formControlName="number" placeholder="Enter Mobile Number">  -->
     
      <label for="exampleInputEmail1"style="color: black;">Enter EmailId <span style="color: red;">*</span></label>
      <input type="email" class="form-control" formControlName="email" placeholder="username@gmail.com"> 
    
    <label for="exampleInputEmail1"style="color: black;">Enter Password <span style="color: red;">*</span></label>
    <input type="password" class="form-control" formControlName="password" placeholder="password">
    <!-- <button (click)="onClick()">
      <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
      <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
    </button> -->
     
  
   <!-- <label for="exampleInputEmail1"style="color: black;">Enter Confirm Password <span style="color: red;">*</span></label>
  <input type="password" class="form-control" formControlName="cpassword" placeholder="confirm password">   -->

        </form>
      </div>
      <div style="background-color: orange; color: azure;"class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" (click)="dataSubmit()">Sign In</button>
      </div>
    </div>
  </div>
</div>
  
  