<br><br><br><br>
<!-- <p>update works!</p> -->
<div class="container mt-2">
    <div class="row">
        <div class="col md-6">
            <div class="card">
                <h5 style="color: orangered; font-weight: 600;">Update data</h5>
                <div class="row">
                    <form #RecipeForm="ngForm" (ngSubmit)="submitData(RecipeForm)" >
                        <div class="form-group mb-2">
                          <label for="heading">Blog Heading</label>
       <textarea class="form-control" id="heading" name="heading" ngModel #heading="ngModel" [value]="Recipe?.heading" ></textarea> 
                        </div>
                        <div class="form-group mb-2">
                          <label for="content">Write Blog Content Here..</label>
             <textarea class="form-control" id="content" name="content"rows="6" ngModel #content="ngModel" [value]="Recipe?.content"></textarea>             
                        </div>
                        <div class="form-group mb-2">
                          <label for="post">Enter Name</label>
                          <input type="text" class="form-control" id="name"  name="name" ngModel #name="ngModel" [value]="Recipe?.name"> 
                        </div>
                      
                       
                        <div>
                          <button type="submit"class="btn btn-success">Update</button> &nbsp;
                        <a routerLink="/profileone">  <button class="btn btn-dark">Back</button> </a> 
                        </div>
                       </form> 
                </div>
               
            </div>
        </div>
    </div>
</div>